element.style {
}
header {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid black;
    background-color: white;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
}
  .logo {
    display: flex;
    color: MediumAquamarine;
    align-items: center;
    flex-grow: 1;
    padding-left: 30px;
    }
      span {
        margin-left: 15px;
    }
    header nav {
      display: inline-flex;
      position: right;
      padding-right: 40px;
    }
      a {
        display: inline-flex;
        color: black;
        cursor: auto;
        text-decoration: underline;
        margin: 10px;
        }
